@using Shared;
@page "/search"
<h1>Search</h1>

<InputText @bind-Value="query"></InputText>
<button @onclick="OnClickSearch">Search</button>

@if (result != null)
{
    <p>Hits:  @result.Hits <br /></p>

    <p>Time used:  @result.TimeUsed.ToString()</p>
    <table class="table">
        <tbody>
            @foreach (var dh in result.DocumentHits)
            {
                <tr>
                    <td>     
                        <a href="file://@dh.Document.mUrl">@dh.Document.mUrl</a><br />
                        (# hits: @dh.NoOfHits)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    private string query = "";

    private ISearchLogic mLogic = SearchFactory.GetSearchLogic();

    private SearchResult? result;

    private void OnClickSearch()
    {
        result = mLogic.Search(query.Split(" "), 10);
    }
}

